In [1]:
!pip install pymysql;

Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 1.8 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0

In [4]:
%load_ext sql

In [5]:
%sql sqlite:///development.db

In [6]:
%%sql
CREATE TABLE partner_beneficiary (
  partner_id INT,
  partner VARCHAR(50),
  village_id INT,
  beneficiaries INT,
  beneficiary_type VARCHAR(50)
);

 * sqlite:///development.db
Done.

[]

In [7]:
%%sql
CREATE VIEW district_summary AS
SELECT
  l.district_name,
  r.region_name,
  SUM(p.beneficiaries / 6) AS total_individuals,
  (SUM(p.beneficiaries / 6) / d.population) * 100 AS individuals_pct
FROM village_location l
JOIN jurisdiction_hierarchy j ON l.district_id = j.district_id
JOIN region r ON j.region_id = r.region_id
JOIN partner_beneficiary p ON l.village_id = p.village_id
JOIN district d ON l.district_id = d.district_id
GROUP BY l.district_id, l.district_name, r.region_name, d.population;

 * sqlite:///development.db
Done.

[]

In [8]:
%%sql
CREATE VIEW partner_summary AS
SELECT
  p.partner,
  COUNT(DISTINCT p.village_id) AS villages_reached,
  COUNT(DISTINCT l.district_id) AS districts_reached
FROM partner_beneficiary p
JOIN village_location l ON p.village_id = l.village_id
GROUP BY p.partner;

 * sqlite:///development.db
Done.

[]